/*Stylesheet for desktop screens from 1350px and over of width*/

body{
	padding: 150px;
	text-align: left;
	box-sizing: border-box;
}

#card{
	float: center;
	width: 100%;
	border-radius: 10px;
	display: inline-block;
	box-sizing: border-box;
}

#imgBackground{
  float: right;
  width: 50%;
  background-color: darkviolet;
  filter: brightness(0.7);
  border-radius: 0 10px 10px 0;
}

#imgBackground img{
	width: 100%;
  border-radius: 0 10px 10px 0;
  opacity: 0.6;
	display: block;
}

#information{
	float: left;
	width: 50%;
	border-radius: 10px 0 0 10px;
	display: inline-block;
	box-sizing: border-box;
}

#descriptionText{
	width: 100%;
	box-sizing: border-box;
}

#headerTitle{
	padding: 50px 100px 10px 80px;
	box-sizing: border-box;
}

#mainParagraph{
	padding: 0 120px 50px 80px;
	box-sizing: border-box;
}

#statistics{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0 50px 0 80px;
	box-sizing: border-box;
}

.statValues{
	width: 33%;
}

.statsParagraph{
	margin-top: -15px;
}