/*Stylesheet for mobile device screens under 1350px of width*/

body{
  text-align: center;
  padding: 80px 20px 50px 20px;
  box-sizing: border-box;
}

#card{
  width: 100%;
  float: center;
  border-radius: 10px;
}

#imgBackground{
  background-color: darkviolet;
  filter: brightness(0.7);
  border-radius: 10px 10px 0 0;
}

#imgBackground img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  opacity: 0.6;
  display: block;
}

#information{
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}

 .statValues{
  margin: 30px;
  box-sizing: border-box;
 }

.statsParagraph{
  margin: -20px 0 20px 0;
  box-sizing: border-box;
}