:root{
  /*Color variables*/
  --myVeryDarkBlue: hsl(233, 47%, 7%);
  --myDarkDesaturatedBlue:  hsl(244, 38%, 16%);
  --mySoftViolet: hsl(277, 64%, 61%);
  --myWhite: hsl(0, 0%, 100%);
  --myTransparentParagraphWhite:  hsla(0, 0%, 100%, 0.75);
  --myTransparentHeadingsWhite: hsla(0, 0%, 100%, 0.6);
  --myAttributionLinkColor: hsl(228, 45%, 44%);
}

body {
  background-color: var(--myVeryDarkBlue);
  font-size: 15px;
}

h1{
  color: var(--myWhite);
  font-weight: 700;
}

p{
  color: var(--myTransparentParagraphWhite);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

#descriptionText{
  font-family: 'Inter', sans-serif;
}

#statistics h1{
  font-family: 'Lexend Deca', sans-serif;
}

#mainParagraph{
  color: var(--myTransparentParagraphWhite);
}


.statsParagraph{
  text-transform: uppercase;
  color: var(--myTransparentHeadingsWhite);
}

#card {
  background-color: var(--myDarkDesaturatedBlue);
}

#navAccent{
  color: var(--mySoftViolet);
  display: inline;
}

#attribution{
  font-size: 11px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

#attribution a{
  color: var(--myAttributionLinkColor);
}